.modal-body {
  .modal-bg {
    min-height: 500px;
    background-image: url(../../../assets/images/login-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
  }
}

.select-box {
  color: black; /* Set the text color of the selected option */
}

// .select-box option {
//   color: black; /* Set the text color of all options */
// }

select option {
  margin: 40px;
  background: #230033;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.gradient-button {
  background: linear-gradient(
    150.77deg,
    #d700ff 0%,
    #7000ff 98.92%
  ); /* Adjust colors as needed */

  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.gradient-button:hover {
  background: linear-gradient(
    150.77deg,
    #d700ff 0%,
    #7000ff 80.92%
  ); /* Reverse the gradient colors on hover */
}
.login-signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-relative-btn {
  height: 1.5rem;
  font-size: small;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    width: 60%;
  }
}

.ng-select .custom {
  min-height: 0px;
  border-radius: 0;
  background: #7000ff;
}

.back-button {
  position: absolute;
  top: 0.5rem;
  width: 70%;
}
// .needs-validation {
//   background: red;

//   @media only screen and (min-width: 320px) and (max-width: 767px) {
//     background: green;
//   }
// }
