<div class="modal-header mb-5">
  <h4 class="modal-title" id="modal-basic-title">Chat Notifications</h4>
  <button
    type="button"
    class="btn-close bg-white"
    aria-label="Close"
    (click)="onCancel()"
  ></button>
</div>
<div class="modal-body mb-5">
  <div *ngFor="let notification of notificaitionData">
    <div class="notification-tile">
      <div class="image-and-title">
        <div class="image">
          <div *ngIf="!notification['profilePicUrl']">
            <div class="image-container">
              {{ notification["senderName"][0] }}
            </div>
          </div>
          <img
            class="image-container"
            src="{{ notification['profilePicUrl'] }}"
            *ngIf="notification['profilePicUrl']"
          />
        </div>
        <div class="message-head-continer">
          <div class="message">
            {{ notification["title"] }}
          </div>
          <div class="message-time">
            notification received at
            {{
              notification["date"].toDate().toDateString() +
                " " +
                notification["date"].toDate().toLocaleTimeString()
            }}
          </div>
        </div>
      </div>
      <div class="action-col">
        <button
          id="sign-in-button"
          class="btn gradient-button"
          (click)="openChatWindow(notification)"
        >
          <span>Start Chat</span>
        </button>
      </div>
    </div>
  </div>
</div>
