<header class="header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a
        class="navbar-brand"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse.show"
      >
        <img class="img-fluid me-2" src="../assets/images/logo.png" />
        <span>Raksa</span>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNavigation"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse col" id="mainNavigation">
        <ul class="navbar-nav ms-auto me-lg-4">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/chat"
              routerLinkActive="active"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              >Chat</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/call"
              routerLinkActive="active"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              >Call</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/live"
              routerLinkActive="active"
              data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show"
              >Live</a
            >
          </li>
        </ul>

        <div
          *ngIf="!authService.activeUserValue"
          class="d-flex justify-content-center p-2"
        >
          <button class="btn btn-silver" type="button" (click)="login()">
            Login/SignUp
          </button>
        </div>

        <div
          *ngIf="authService.activeUserValue"
          class="dropdown user-profile d-inline-block"
          ngbDropdown
        >
          <button type="button" class="btn" ngbDropdownToggle>
            <img class="rounded-circle" src="../assets/images/login-user.png" />
          </button>
          <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            <a class="dropdown-item" (click)="openProfileModal()"> Profile </a>
            <div class="dropdown-divider"></div>
            <a
              href="javascript:void(0);"
              class="dropdown-item"
              (click)="logout()"
            >
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 d-flex justify-content-center text-center">
        <div class="footer-widget">
          <h3 class="fw-semi-bold mb-2">Company</h3>
          <ul class="list-unstyled mb-lg-0">
            <li><a href="javascript:void(0);">Home</a></li>
            <li><a href="javascript:void(0);">FAQ</a></li>
            <li><a href="javascript:void(0);">About Us</a></li>
            <li><a href="javascript:void(0);">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 d-flex justify-content-center text-center">
        <div class="footer-widget">
          <h3 class="fw-semi-bold mb-2">Social Media</h3>
          <ul class="list-unstyled mb-lg-0">
            <li><a href="javascript:void(0);">Instagram</a></li>
            <li><a href="javascript:void(0);">Facebook</a></li>
            <li><a href="javascript:void(0);">Twitter</a></li>
            <li><a href="javascript:void(0);">Telegram</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-widget text-lg-end">
          <h3 class="fw-semi-bold mb-2">Apps</h3>
          <ul class="list-unstyled mb-lg-0">
            <li>
              <a href="javascript:void(0);"
                ><img src="../assets/images/google.png"
              /></a>
            </li>
            <li>
              <a href="javascript:void(0);"
                ><img src="../assets/images/apple.png"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
